In [4]:
import numpy as np
import pandas as pd
# import geopandas as gpd
import matplotlib.pyplot as plt
# from shapely.geometry import Point, Polygon
import re
# import osmnx as ox
from IPython.display import Image

In [5]:
eme = pd.read_csv('final.csv')

aaa = eme[~((eme['amenities'] == '0') | (eme['graph'] == '0'))]
aaa['amenities'] = aaa['amenities'].apply(lambda x: eval(x))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
aaa

,Unnamed: 0,Shape_Leng,Shape_Area,ADM3_EN,ADM3_PCODE,ADM3_REF,ADM3ALT1EN,ADM3ALT2EN,ADM2_EN,ADM2_PCODE,...,City Class,Income Classification,Code_2,Name_2,Name_3,IC,Name_4,Name_5,amenities,graph
0,0,1.601219,0.063496,Aborlan,PH175301000,NaN,NaN,NaN,Palawan,PH175300000,...,NaN,1st,175300000.0,PALAWAN,ABORLAN PALAWAN Philippines,1.0,aborlan palawan philippines,0,"{'school': 38, 'restaurant': 2, 'townhall': 2,...","{'n': 734, 'm': 1876, 'k_avg': 5.1117166212534..."
1,1,1.078749,0.050232,Abra de Ilog,PH175101000,NaN,NaN,NaN,Occidental Mindoro,PH175100000,...,NaN,2nd,175100000.0,OCCIDENTAL MINDORO,ABRA DE ILOG OCCIDENTAL MINDORO Philippines,2.0,abra de ilog occidental mindoro philippines,"Abra de Ilog, Occidental Mindoro, Mimaropa, Ph...","{'school': 29, 'place_of_worship': 13, 'shelte...","{'n': 192, 'm': 453, 'k_avg': 4.71875, 'inters..."
3,3,0.566053,0.011343,Abulug,PH021501000,NaN,NaN,NaN,Cagayan,PH021500000,...,NaN,3rd,21500000.0,CAGAYAN,ABULUG CAGAYAN Philippines,3.0,abulug cagayan philippines,0,"{'school': 11, 'kindergarten': 2, 'place_of_wo...","{'n': 535, 'm': 1286, 'k_avg': 4.8074766355140..."
4,4,1.013649,0.026124,Abuyog,PH083701000,NaN,NaN,NaN,Leyte,PH083700000,...,NaN,1st*,83700000.0,LEYTE,ABUYOG LEYTE Philippines,1.0,abuyog leyte philippines,"Abuyog, Leyte 5th District, Leyte, Eastern Vis...","{'community_centre': 25, 'school': 20, 'place_...","{'n': 259, 'm': 650, 'k_avg': 5.01930501930501..."
5,5,0.423604,0.009506,Adams,PH012801000,NaN,NaN,NaN,Ilocos Norte,PH012800000,...,NaN,5th,12800000.0,ILOCOS NORTE,ADAMS ILOCOS NORTE Philippines,5.0,adams ilocos norte philippines,0,{'fast_food': 1},"{'n': 50, 'm': 122, 'k_avg': 4.88, 'intersecti..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1642,4.719512,0.122560,Zamboanga City,PH097332000,NaN,NaN,NaN,Zamboanga del Sur,PH097300000,...,HUC,1st,97300000.0,ZAMBOANGA DEL SUR,CITY OF ZAMBOANGA ZAMBOANGA DEL SUR Philippines,1.0,city of zamboanga zamboanga del sur philippines,0,"{'school': 218, 'place_of_worship': 77, 'resta...","{'n': 12481, 'm': 28795, 'k_avg': 4.6142136046..."
1643,1643,0.511917,0.012622,Zamboanguita,PH074625000,NaN,NaN,NaN,Negros Oriental,PH074600000,...,NaN,4th,74600000.0,NEGROS ORIENTAL,ZAMBOANGUITA NEGROS ORIENTAL Philippines,4.0,zamboanguita negros oriental philippines,"Zamboanguita, Negros Oriental, Central Visayas...","{'school': 17, 'place_of_worship': 4, 'fuel': ...","{'n': 114, 'm': 356, 'k_avg': 6.24561403508771..."
1644,1644,0.451962,0.006523,Zaragoza,PH034932000,NaN,NaN,NaN,Nueva Ecija,PH034900000,...,NaN,3rd,34900000.0,NUEVA ECIJA,ZARAGOZA NUEVA ECIJA Philippines,3.0,zaragoza nueva ecija philippines,0,"{'school': 15, 'place_of_worship': 6, 'fuel': ...","{'n': 403, 'm': 984, 'k_avg': 4.88337468982630..."
1645,1645,0.439317,0.003161,Zarraga,PH063047000,NaN,NaN,NaN,Iloilo,PH063000000,...,NaN,4th,63000000.0,ILOILO,ZARRAGA ILOILO Philippines,4.0,zarraga iloilo philippines,"Zarraga, Iloilo, Western Visayas, 5004, Philip...","{'school': 9, 'pharmacy': 5, 'fire_station': 2...","{'n': 262, 'm': 744, 'k_avg': 5.67938931297709..."
1646,1646,0.684150,0.002923,Zumarraga,PH086023000,NaN,NaN,NaN,Samar,PH086000000,...,NaN,5th*,86000000.0,SAMAR (WESTERN SAMAR),ZUMARRAGA SAMAR (WESTERN SAMAR) Philippines,5.0,zumarraga samar philippines,"Zumarraga, Samar, Eastern Visayas, 6725, Phili...","{'school': 9, 'place_of_worship': 7, 'communit...","{'n': 34, 'm': 84, 'k_avg': 4.9411764705882355..."

In [7]:
bbb = pd.concat([aaa.drop('amenities', axis=1), pd.DataFrame(aaa['amenities'].tolist())], axis=1)

In [8]:
bbb

,Unnamed: 0,Shape_Leng,Shape_Area,ADM3_EN,ADM3_PCODE,ADM3_REF,ADM3ALT1EN,ADM3ALT2EN,ADM2_EN,ADM2_PCODE,...,wayside_shrine,mill,parking;restaurant,funeral_directors,plant_nursery,vegetable_market,convention_centre,recreational_ground,money_lender,cockfighting
0,0.0,1.601219,0.063496,Aborlan,PH175301000,NaN,NaN,NaN,Palawan,PH175300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.078749,0.050232,Abra de Ilog,PH175101000,NaN,NaN,NaN,Occidental Mindoro,PH175100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,0.566053,0.011343,Abulug,PH021501000,NaN,NaN,NaN,Cagayan,PH021500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1.013649,0.026124,Abuyog,PH083701000,NaN,NaN,NaN,Leyte,PH083700000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1642.0,4.719512,0.122560,Zamboanga City,PH097332000,NaN,NaN,NaN,Zamboanga del Sur,PH097300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,1643.0,0.511917,0.012622,Zamboanguita,PH074625000,NaN,NaN,NaN,Negros Oriental,PH074600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,1644.0,0.451962,0.006523,Zaragoza,PH034932000,NaN,NaN,NaN,Nueva Ecija,PH034900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,1645.0,0.439317,0.003161,Zarraga,PH063047000,NaN,NaN,NaN,Iloilo,PH063000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,1646.0,0.684150,0.002923,Zumarraga,PH086023000,NaN,NaN,NaN,Samar,PH086000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
ccc = bbb[bbb['ADM3_EN'].notna()]

In [10]:
ccc

,Unnamed: 0,Shape_Leng,Shape_Area,ADM3_EN,ADM3_PCODE,ADM3_REF,ADM3ALT1EN,ADM3ALT2EN,ADM2_EN,ADM2_PCODE,...,wayside_shrine,mill,parking;restaurant,funeral_directors,plant_nursery,vegetable_market,convention_centre,recreational_ground,money_lender,cockfighting
0,0.0,1.601219,0.063496,Aborlan,PH175301000,NaN,NaN,NaN,Palawan,PH175300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.078749,0.050232,Abra de Ilog,PH175101000,NaN,NaN,NaN,Occidental Mindoro,PH175100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,0.566053,0.011343,Abulug,PH021501000,NaN,NaN,NaN,Cagayan,PH021500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1.013649,0.026124,Abuyog,PH083701000,NaN,NaN,NaN,Leyte,PH083700000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,0.423604,0.009506,Adams,PH012801000,NaN,NaN,NaN,Ilocos Norte,PH012800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1642.0,4.719512,0.122560,Zamboanga City,PH097332000,NaN,NaN,NaN,Zamboanga del Sur,PH097300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,1643.0,0.511917,0.012622,Zamboanguita,PH074625000,NaN,NaN,NaN,Negros Oriental,PH074600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,1644.0,0.451962,0.006523,Zaragoza,PH034932000,NaN,NaN,NaN,Nueva Ecija,PH034900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,1645.0,0.439317,0.003161,Zarraga,PH063047000,NaN,NaN,NaN,Iloilo,PH063000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,1646.0,0.684150,0.002923,Zumarraga,PH086023000,NaN,NaN,NaN,Samar,PH086000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# ccc.columns[34:]

Index(['Unnamed: 0', 'Shape_Leng', 'Shape_Area', 'ADM3_EN', 'ADM3_PCODE',
       'ADM3_REF', 'ADM3ALT1EN', 'ADM3ALT2EN', 'ADM2_EN', 'ADM2_PCODE',
       'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn',
       'validTo', 'geometry', 'Code_1', 'Unnamed: 0.1', 'Unnamed: 0.1.1',
       'Code', 'Name_1', 'Geographic Level', 'City Class',
       'Income Classification', 'Code_2', 'Name_2', 'Name_3', 'IC', 'Name_4',
       'Name_5', 'graph'],
      dtype='object')

In [28]:
ccc['cockfighting'].isna().sum()

1604

In [29]:
ccc[ccc.columns[34:]] = ccc[ccc.columns[34:]].fillna(value=0)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [30]:
ccc

,Unnamed: 0,Shape_Leng,Shape_Area,ADM3_EN,ADM3_PCODE,ADM3_REF,ADM3ALT1EN,ADM3ALT2EN,ADM2_EN,ADM2_PCODE,...,wayside_shrine,mill,parking;restaurant,funeral_directors,plant_nursery,vegetable_market,convention_centre,recreational_ground,money_lender,cockfighting
0,0.0,1.601219,0.063496,Aborlan,PH175301000,NaN,NaN,NaN,Palawan,PH175300000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.078749,0.050232,Abra de Ilog,PH175101000,NaN,NaN,NaN,Occidental Mindoro,PH175100000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.566053,0.011343,Abulug,PH021501000,NaN,NaN,NaN,Cagayan,PH021500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,1.013649,0.026124,Abuyog,PH083701000,NaN,NaN,NaN,Leyte,PH083700000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5.0,0.423604,0.009506,Adams,PH012801000,NaN,NaN,NaN,Ilocos Norte,PH012800000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1642.0,4.719512,0.122560,Zamboanga City,PH097332000,NaN,NaN,NaN,Zamboanga del Sur,PH097300000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1643,1643.0,0.511917,0.012622,Zamboanguita,PH074625000,NaN,NaN,NaN,Negros Oriental,PH074600000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1644,1644.0,0.451962,0.006523,Zaragoza,PH034932000,NaN,NaN,NaN,Nueva Ecija,PH034900000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1645,1645.0,0.439317,0.003161,Zarraga,PH063047000,NaN,NaN,NaN,Iloilo,PH063000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1646,1646.0,0.684150,0.002923,Zumarraga,PH086023000,NaN,NaN,NaN,Samar,PH086000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
ccc['cockfighting'].isna().sum()

0

In [32]:
ccc['graph'] = ccc['graph'].apply(lambda x: eval(x))
ddd = pd.concat([ccc.drop('graph', axis=1), pd.DataFrame(ccc['graph'].tolist())], axis=1)
fff = ddd[ddd['ADM3_EN'].notna()]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
fff

,Unnamed: 0,Shape_Leng,Shape_Area,ADM3_EN,ADM3_PCODE,ADM3_REF,ADM3ALT1EN,ADM3ALT2EN,ADM2_EN,ADM2_PCODE,...,street_length_avg,street_segments_count,node_density_km,intersection_density_km,edge_density_km,street_density_km,circuity_avg,self_loop_proportion,clean_intersection_count,clean_intersection_density_km
0,0.0,1.601219,0.063496,Aborlan,PH175301000,NaN,NaN,NaN,Palawan,PH175300000,...,325.412351,941.0,2.713661,1.974244,2263.046096,1132.095889,1.075291,0.0,510.0,1.885514
1,1.0,1.078749,0.050232,Abra de Ilog,PH175101000,NaN,NaN,NaN,Occidental Mindoro,PH175100000,...,398.181181,227.0,1.273997,0.836060,1198.556871,599.754688,1.145454,0.0,115.0,0.763071
3,3.0,0.566053,0.011343,Abulug,PH021501000,NaN,NaN,NaN,Cagayan,PH021500000,...,321.108917,339.0,1.793079,1.350002,1492.316446,753.618873,1.119404,0.0,174.0,1.204617
4,4.0,1.013649,0.026124,Abuyog,PH083701000,NaN,NaN,NaN,Leyte,PH083700000,...,630.635787,61.0,1.635130,1.177294,2516.059005,1258.029503,1.409435,0.0,33.0,1.079186
5,5.0,0.423604,0.009506,Adams,PH012801000,NaN,NaN,NaN,Ilocos Norte,PH012800000,...,223.706926,203.0,8.986709,7.163319,5914.623149,2957.311575,1.356757,0.0,108.0,7.033077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1642.0,4.719512,0.122560,Zamboanga City,PH097332000,NaN,NaN,NaN,Zamboanga del Sur,PH097300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,1643.0,0.511917,0.012622,Zamboanguita,PH074625000,NaN,NaN,NaN,Negros Oriental,PH074600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,1644.0,0.451962,0.006523,Zaragoza,PH034932000,NaN,NaN,NaN,Nueva Ecija,PH034900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,1645.0,0.439317,0.003161,Zarraga,PH063047000,NaN,NaN,NaN,Iloilo,PH063000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,1646.0,0.684150,0.002923,Zumarraga,PH086023000,NaN,NaN,NaN,Samar,PH086000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
fff.columns[432:]

Index(['n', 'm', 'k_avg', 'intersection_count', 'streets_per_node_avg',
       'streets_per_node_counts', 'streets_per_node_proportion',
       'edge_length_total', 'edge_length_avg', 'street_length_total',
       'street_length_avg', 'street_segments_count', 'node_density_km',
       'intersection_density_km', 'edge_density_km', 'street_density_km',
       'circuity_avg', 'self_loop_proportion', 'clean_intersection_count',
       'clean_intersection_density_km'],
      dtype='object')

In [39]:
fff['clean_intersection_density_km'].isna().sum()

42

In [40]:
fff[fff.columns[432:]] = fff[fff.columns[432:]].fillna(value=0)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [41]:
fff['clean_intersection_density_km'].isna().sum()

0

In [42]:
fff.to_csv('for_modeling.csv')